
<body class="spacer">
    <div id="map"></div>
    <div id="legend"><h3>Legend</h3></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>You Searched</th>
        <th>We found</th>
        <th>Observing DST?</th>
        <th>Timezone</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      </thead>

      <tbody>
      <% @addresses.each do | address| %>
        <tr>
          <td><%= address.id%></td>
          <td><%= address.full_address %></td>
          <td><%= address.day_light_savings%></td>
          <td><%= address.timezone%></td>
          <td><%= address.lat.round(6) %></td>
          <td><%= address.long.round(6) %></td>
        </tr>
      <% end %>
      </tbody>

    </table>
    
    <%= link_to 'Back', addresses_path %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_api_key %>&callback=initMap"
        async defer></script>
</body>

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%=@country.lat %>, lng: <%= @country.long %>},
            zoom: 4
        });

        var states = gon.states;
        var iconBase = 'https://maps.google.com/mapfiles/kml/pal3/';
        var icons = {
            day_light_savings: {
                name: 'DST',
                icon: iconBase + 'icon40.png'
            }
        };
        setMarkers(map, states);
        createLegend(map, icons);

    }

    function createLegend(map, icons){
        var legend = document.getElementById('legend');
        for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var icon = type.icon;
            var div = document.createElement('div');
            div.innerHTML = '<img src="' + icon + '"> ' + name;
            legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
    }

    function setMarkers(map, states){
        Object.keys(states).forEach(function (key) {
            var value = states[key];
            console.log(key);
            console.log(value['lat']);
            var marker = new google.maps.Marker({
                position: {lat: value['lat'], lng: value['long']},
                map: map,
                title: key
            });

            var content = buildHtmlForMarker(key, value['tz'], value['dst']);

            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker, 'click', (function(marker, contentString, infowindow){
                return function(){
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                }
            })(marker, content, infowindow));
        });
    }

    function buildHtmlForMarker(key, tz, day_light_saving){
        var div = document.createElement('div');
        div.setAttribute('class', "header");
        var dst = document.createElement('img');
        dst.setAttribute('src', "https://maps.google.com/mapfiles/kml/pal3/icon40.png");
        var stateName = document.createElement('h3');
        stateName.innerText = key;
        var time = document.createElement('h4');
        time.innerText = "Time:  " + new Date(tz).toUTCString();
        var wikiLink = document.createElement('a');
        wikiLink.setAttribute('href', "https://en.wikipedia.org/wiki/" + key);
        wikiLink.innerText = "Wiki";

        if(day_light_saving){
            div.appendChild(dst);
        }
        div.appendChild(stateName);
        div.appendChild(time);
        div.appendChild(wikiLink);
        return div;
    }
</script>
