
<body class="spacer" onload="initMap()">
  <div id="map"></div>
  <div id="legend"><h3>Legend</h3></div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Country', new_country_path %>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_api_key %>&callback=initMap"
          async defer></script>
</body>

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.09024, lng: -95.712891},
            zoom: 2
        });
        var iconBase = 'https://maps.google.com/mapfiles/kml/pal3/';
        var icons = {
            day_light_savings: {
                name: 'DST',
                icon: iconBase + 'icon40.png'
            }
        };
        createLegend(map, icons);

    }

    function createLegend(map, icons){
        var legend = document.getElementById('legend');
        for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var icon = type.icon;
            var div = document.createElement('div');
            div.innerHTML = '<img src="' + icon + '"> ' + name;
            legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
    }

</script>
