<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>


<% if @country.states.size > 0 %>

  <h2>States</h2>
  <table>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <% for state in @country.states %>
      <tr>
        <td><%=state.state_name%></td>
        <td><%=state.lat%></td>
        <td><%=state.long%></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>New State</h2>

<%= form_for [@country, State.new] do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.submit %></p>
<% end %>



<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
