<!DOCTYPE html>
<html>
  <head>
    <title>WorldTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: "World Time" do %>
      <%= menu_group do %>
        <%= menu_divider %>
        <%= menu_item "Countries", countries_path %>
        <% end %>
        <%= form_tag(new_country_path, method: 'get', class: 'navbar-form navbar-right') do %>
        <%= search_field_tag 'country', nil, class: 'form-control', placeholder: 'Search'  %>
        <%= submit_tag "Submit", class: 'btn btn-default' %>
    <% end %>
      <%  end %>
    <%= yield %>
  </body>
</html>
